body{
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    height: 100%;
    box-sizing: border-box;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

header h1{
    margin: 0%;
    text-align: center;
}

main{
    flex: 1;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 500px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
    margin: 0 auto;
}

footer{
    color: #7F8C8D;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

h1, h2{
    font-family: Georgia, serif;
    color: #2C3E50;
}

img{
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.lista-integrantes ul{
    list-style: disc;
    padding-left: 20px;
}

.table-exitos table{
    border-collapse: collapse;
    margin: 0 auto 20px; 
    align-items: center;/* six seveeeen */
    border: 1px solid #DDD;
}

th{
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid #DDD;
}

tr, td{
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #DDD;
}

.enlace-web a{
    color: #E74C3C;
    text-decoration: none;
    font-weight: bold;
}

.enlace-web a:hover{
    color: #C0392B;
}