/* Base minima para empezar */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabecera con FLEX 1.-Logo-Título 2.-Menú */

.cabecera {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #0d203a; /* 0d203a */
}

.logo {
    height: 100px;
    width: auto;
}

/* .titulo {
    margin: 0;
    color: #333;
} */

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding-left: 0;
}

.menu a {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: bold;
}

.menu a:hover {
    color: #808080;
}

#contenido-principal {
    padding: 1rem;
    flex-grow: 1;
    color: #000000;
}

.tarjeta {
    background: #fff;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px #333;
    color: #0d203a;
}

.intro-inicio {
    background: #fff;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px #333;
    color: #0d203a;
}

.intro-contacto {
    text-align: center;
    background: #0d203a;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px #333;
    color: #f0f0f0;
}

.intro-registro {
    text-align: center;
    background: #0d203a;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px #333;
    color: #f0f0f0;
}

.formulario {
    flex: auto;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: min(900px, 95%);
    font-size: 18px;
}

#categoria {
    width: min(900px, 95%);
    font-size: 20px;
    border-radius: 10px;
    background-color: #0d203a;
    color: #f0f0f0;
}

#mensaje {
    width: min(900px, 95%);
}

/* Listas y layout */

.listas {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.lista {
    padding-left: 20px;
}

.lista li {
    margin: 0.25rem 0;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.tabla td, .tabla th {
    border: solid 1px #f0f0f0;
    padding: 10px;
    background: #0d203a;
}

.tabla th {
    color: #f0f0f0;
    text-align: center;
}

table td {
    text-align: left;
    color: #f0f0f0;
    white-space: nowrap;
}

.pie {
    color: #f0f0f0;
    font-size: 14px;
    padding: 1rem;
    background: #0d203a;
    text-align: center;
}