/* Base mínima para empezar */

/* Reset */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* El body se convierte en contenedor flexible, dispuesto en columnas y que ocupe todo el alto de la ventana */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CABECERA con FLEX: 
    dos zonas: logo+título y menu de navegación
*/
.cabecera {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;
}

/* Logo */
.logo {
    height: 100px;
    width: auto;
}

/* .titulo {
    margin: 0;
    color: #2C3E50;
} */

/* Menú horizontal con flex */
.menu {
    list-style: none;   /* Eliminamos las viñetas */
    display: flex;      /* Colocamos los elementos en fila */
    gap: 1rem;          /* Espacio entre los ítems/enlaces */
    margin: 0;
    padding: 0;
}

/* Estilo básico de los enlaces del menú */
.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Pseudoclase hover: cambiamos el estilo al situar el cursor */
.menu a:hover {
    color: #E74C3C;
}
/* .menu li {
    display: inline-block;
} */

#contenido-principal {
    padding: 1rem;
    flex-grow: 1;       /* Aplicamos factor de crecimiento para "empujar" al footer */
}

.tarjeta {
    background: #fff;
    border-radius: 10px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
}

/* Listas y layout simple */
.listas {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.lista {
    padding-left: 20px;
}

.lista li {
    margin: 0.25rem 0;
}

/* Tabla:
    - width: ocupa todo el ancho 
    - border-collapse: une los bordes
*/
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Celdas: bordes y relleno */
.tabla td, .tabla th {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Cabecera de la tabla de forma diferente */
.tabla th {
    background: #2C3E50;
    color: #fff;
    text-align: center;
}

/* Celdas de cuerpo de tabla diferentes */
.table td {
    text-align: left;
    white-space: nowrap;        /* Evita saltos de línea en las celdas */
}

.pie {
    text-align: center;
    padding: 1rem;
    color: #7f8c8d;
    font-size: 14px;
    background: #2C3E50;
}

/* === FORMULARIO REGISTRO === */
.form-registro {
    background-color: #fff;
    border: 4px solid darkgoldenrod;
    border-radius: 7px;
    padding: 1rem;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: firebrick;
    margin: 0 auto;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 1rem;
}

.form-row label {
    font-weight: bold;
}

.form-row input {
    padding: 0.5rem;
}

.form-row input[type="submit"]{
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.form-row input[type="submit"]:hover {
    background-color: darkred;
}

/* ============================================
   SECCION TIENDA
   ============================================ */

/* Para mayor especifidad, aplico las dos clases a la vez */
.tarjeta.tienda{
    width: min(1200px, 95%);
}

.lista-cards--flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.card{
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 12px;
}

.card:hover{
    scale: 1.03;
}

.card-imagen{
    width: 100%;
    height: 40%;
    object-fit:contain;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
}

/*  */

.card-titulo{
    font-size: 1.1rem;
    color: #333;
    margin: 8px 0 4px;
}

.card-description{
    font-size: 0.9rem;
    color: #666;
    min-height: 3.5rem;
}

.card-precio{
    color: #b60000;
    font-weight: bold;
    margin: 8px 0;
}

.card-boton{
    display: inline-block; /* Puede tener ancho, alto, padding y fondo y NO SALTA DE LINEA */
    padding: 10px 16px;
    background-color: #2c3e50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}

/* ====================================  
    SECCION GRID: Introducción visual
   ====================================
*/

.contenedor-grid{
    display: grid;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(4, 100px);

    row-gap: 5px;
    column-gap: 25px;

    background-color: #eaeaea;
    padding: 10px;

    justify-items: center;
    align-items: center;
}

.item-grid{
    background-color: #E74C3C;
}

.item-grid:nth-child(1){ background-color: #b60000;}
.item-grid:nth-child(2){ background-color: #33c43b;}
.item-grid:nth-child(3){ background-color: #16b5c0;}
.item-grid:nth-child(4){ background-color: #c71bb9;}
.item-grid:nth-child(5){ background-color: #ffe600;}
.item-grid:nth-child(6){ background-color: #7701bb;}